<div class="col-sm-12">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-film"></span> Videos</h2>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <alert type="success"  close="clearMsg" ng-show="msg">
                {{ msg }}
            </alert>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    <form ng-submit="loadGrid()">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Videos.." />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <select name="catId" ng-model="categoryFilter" class="form-control" ng-change="loadGrid()"
                        ng-options="c._id as c.name for c in videoCategories">
                        <option value="" ng-selected="selected">
                            Filter By Category
                        </option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="small hidden-xs hidden-sm" for="pageSize">Show:</label>
                            <select id="pageSize" class="form-control" ng-model="pageSize" ng-change="loadGrid()"
                            ng-options="size for size in pageSizeList">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-5 col-md-offset-7 col-md-5">
                            <a href="/admin/video/add" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> New
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <pagination boundary-links="true" total-items="totalRecords" ng-model="currentPage" class="pagination-sm pagination-info" max-size="5"
            previous-text="previous" next-text="next" first-text="first" last-text="last" items-per-page="pageSize"
            ng-change="loadGrid()"></pagination>

        <table class="table table-striped">
            <tr>
                <th>
                    <a href ng-click="orderBy('dateModified')">Last Updated</a>
                </th>
                <th>
                    <a href ng-click="orderBy('name')">Video Name</a>
                </th>
                <th>
                    <a href ng-click="orderBy('yearReleased')">Year Released</a>
                </th>
                <th>
                    <a href ng-click="orderBy('categoryName')">Category</a>
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="file in videosList as results">
                <td>
                    {{ file.dateModified | date : 'dd-MMM-yyyy' }}
                </td>
                <td>
                    {{ file.name }}
                </td>
                <td>
                    {{ file.yearReleased }}
                </td>
                <td>
                    {{ file.categoryName }}
                </td>
                <td>
                    <a href="/admin/video/{{ file._id }}/edit" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <button type="button" ng-click="confirmDelete(file._id, file.name)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="videosList == null || videosList.length == 0">
                <td colspan="5" class="text-center">
                    No results found
                </td>
            </tr>
        </table>

        <div class="row">
            <div class="col-sm-12">
                <pagination boundary-links="true" total-items="totalRecords" ng-model="currentPage" class="pagination-sm" max-size="5"
                    previous-text="previous" next-text="next" first-text="first" last-text="last" items-per-page="pageSize"
                    ng-change="loadGrid()"></pagination>
            </div>
        </div>
    </div>
</div>
