<div>
    <h3>Testing Ground</h3>
    
    <div>
        <!-- <img src="/api/mediaFile/video-NJ2T-H3E" alt="image" /> -->
    </div>
    <br/>
	<!-- <video width="320" height="240" controls>
	  <source src="/api/mediaFile/video-NylJy1UV" type="video/mp4">
	  <source src="/api/mediaFile/video-NylJy1UV" type="video/ogg">
	Your browser does not support the video tag.
	</video> -->

    <input type="text" ng-model="accordIdx" />
    <button type="button" ng-click="switchAccordion(accordIdx)">Switch Accordion</button>

    <br /><br />

    <sw-accord instance="accordInst" options="options">
        <sw-accord-group heading="Accordion Group 1 Heading">
            Accordion Group 1 Content
        </sw-accord-group>
        <sw-accord-group heading="Accordion Group 2 Heading">
            Accordion Group 2 Content
        </sw-accord-group>
        <sw-accord-group heading="Accordion Group 3 Heading">
            Accordion Group 3 Content
        </sw-accord-group>
    </sw-accord>
</div>