<div>
    <div class="col-sm-12">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3><span class="glyphicon glyphicon-film"></span> Add Video</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/admin/videos" class="small">
                        <span class="glyphicon glyphicon-chevron-left"></span> Back to Videos
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <alert-msg type="success" ng-show="showTempMsg" close-temp-msg="closeTempMsg()">
                    {{ tempMsg }}
                </alert>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="addVideoForm" ng-submit="addVideoForm.$valid && addVideo(addVideoForm)" novalidate>
            <form-fieldset disable="disableForm">
                <div class="form-group" ng-show="msg">
                    <div class="col-sm-offset-3 col-sm-7">
                        <alert type="success">{{ msg }}</alert>
                    </div>
                </div>
                <div class="form-group" ng-show="addVideoForm.$submitted && addVideoForm.$invalid">
                    <div class="col-sm-offset-3 col-sm-7">
                        <alert type="danger">
                            <div ng-show="addVideoForm.categoryId.$error.required">Please select a category</div>
                            <div ng-show="addVideoForm.videoName.$error.required">Please enter a filename</div>
                            <div ng-show="addVideoForm.yearReleased.$error.required">Year Released is required</div>
                            <div ng-show="addVideoForm.yearReleased.$error.pattern">Please enter a valid year (i.e. 2005)</div>
                            <!-- <div ng-show="{{ imageUploader.queue.length === 0 }}">Please select an image to upload</div> -->
                        </alert>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="selectedCategory">Video Category</label>
                    <div class="col-sm-7">
                        <select ng-model="formData.categoryId" class="form-control" name="categoryId" required ng-options="c._id as c.name for c in videoCategories">
                            <option value="" ng-selected="selected">Please select...</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="videoName">Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="formData.videoName" name="videoName" placeholder="Enter new video name" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="yearReleased">Year Released</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="formData.yearReleased" name="yearReleased" placeholder="Enter year released (i.e. 2005)" required />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="imageFile">Select image</label>
                    <div class="col-sm-6 col-md-7">
                        <input class="form-control" type="file" name="imageFile" ng-model="formData.imageFile" ngf-select />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-md-3">
                        <em>Upload progress</em>
                    </div>
                    <div class="col-sm-6 col-md-7">
                        <progressbar class="progress-striped" value="imageUploadProgress">{{ imageUploadProgress }}%</progressbar>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" id="submit-image" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Add
                        </button>
                    </div>
                </div>
            </form-fieldset>
        </form>
    </div>
</div>
